@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.text-orange {
  color: #FA633A !important;
}

.btn-orange {
  background-color: #FA633A !important;
  color: #fff;
  border: 1px solid #FA633A;
  padding: 7px 38px;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.btn-outline-orange {
  background-color: #fff !important;
  border: 1px solid #FA633A;
  padding: 7px 38px;
  border-radius: 7px;
  transition: all 0.5s ease;
}

.btn-outline-orange:hover {
  background-color: #FA633A !important;
  color: #fff;
  border: 1px solid #FA633A;
}

.btn-orange:hover {
  color: white;
  background-color: #4F302F !important;
  border-color: #4F302F !important;
}

.bg-orange{
  background-color: #FA633A !important;
}

.bg-dark{
  background-color: black !important;
}

section {
  min-height: 61.3vh !important;
}

#header, #smart-watch, #login, #register{
  background: radial-gradient(#fff,#ffd6d6) !important;
}

#home-products .img-fluid, #products .img-fluid {
  width: 100% !important;
  object-fit: cover !important;
}

input:focus, textarea:focus {
  box-shadow: none !important;
  border-color: #FA633A !important;
}

.form-select:focus{
  box-shadow: none;
}

.title-after::after {
  content: "";
  display: block;
  height: 4.5px;
  width: 80px;
  background-color: #FA633A;
  margin: 0 auto;
  margin-top: 3px;
}





/* home start */
#home-products .card-img{
  overflow: hidden;
}

#home-products img:hover{
  transition: 0.5s ease;
  transform: scale(1.3);
}

#home-comments .card{
  border-radius: 8px;
}

/* home finish */


/* products start */
#products .card-img{
  overflow: hidden;
}

#products img:hover{
  transition: 0.5s ease;
  transform: scale(1.3);
}
/* products finish */


/* navbar start */
#navbar .nav-link::after{
  content: "";
  display: none;
  background-color: #FA633A;
  height: 3px;
  width: 100%;
}

#navbar .nav-link:hover::after {
  display: block;
}

#navbar .nav-link:hover, #footer .link-hover:hover{
  transition: 0.5s ease;
  cursor: pointer !important;
  color: #FA633A !important;
}
/* navbar finish */

/* cart start */
.cart-th-image{
  width: 70px;
}
.cart-th-quantity{
  width: 110px;
}
.cart-th-total{
  width: 90px;
}

/* cart finish */


/* footer start */
#footer .footer-logo{
  width: 150px;
}
#footer h5{
  color: white !important;
}

#footer a{
  color: gray !important;
  text-decoration: none;
}
/* footer start */
